legend{
    font-size:20px;
    font-weight:bold;
    padding-top:10px;
    color:#031528
}
#Account {
    background-color:#8fa6bf
}
#Personal {
    background-color:#8fa6bf
}
#Availability {
    background-color:#8fa6bf
}
#Personalstatement {
    background-color:#8fa6bf
}
#Submit {
    background-color:#8fa6bf
}
#Contact {
    background-color:#8fa6bf
}
#Experience {
    background-color:#8fa6bf
}
#Resume {
    background-color:#8fa6bf
}
#CoverLetter {
    background-color:#8fa6bf
}
#Experience1 {
    margin-left:40px
}
#Experience2 {
    margin-left:40px
}
#Expereience3 {
    margin-left:40px
}